 <div class="navbar">
   <a href="/SGTfinalTask/index.jsp">  Home </a>
   <a href="/SGTfinalTask/Films">  Films </a>
   <a href="/SGTfinalTask/Directors">  Directors </a>
   <a href="/SGTfinalTask/Actors"> Actors</a>
 </div>