 * {
      box-sizing: border-box;
    }
    
    body {
      font-family: Verdana, sans-serif;
      color: #021373;
      margin: 0;
    }
    
    .header {
      height: 200px;
      padding: 100px;
      text-align: center;
      background-image: url("Images/1930.jpg");
      background-size:contain;
      color: white;
    }  
     .navbar {
      position: sticky;
      top: 0;
      padding: 10px;
      display: flex;
      background-color: #1C1C8D;
      color: white;
      font-size: 18px;
    }
    .navbar a {
      color: white;
      padding: 10px 10px;
      text-decoration: none;
    }   
    .navbar a:hover {
      background-color: #1C8D8D;
      color: #8B1B1B;
    }
    div.gallery {
  margin: 50px;
  border: 1px solid #ccc;
  float: left;
  width: 600px;
}

div.gallery:hover {
  border: 1px solid #777;
}

div.gallery img {
  width: 100%;
  height: auto;
}

div.desc {
  padding: 50px;
  text-align: center;
}
     @media screen and (max-width: 600px) {
      .row,
      .navbar {
        flex-direction: column;
      }
    }